

<form action="/ToDo/SaveUser" method="post">

    <label for="name" class="form-label">Enter Your Name </label>
    <input type="text" class="form-control" id="name" name="Name" aria-describedby="emailHelp">
    <button class="btn btn-primary my-2" type="submit">Submit</button>
</form>


