@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 >Welcome</h1>
    <h4>Get Started With Create First To Do</h4>

    <a class="btn btn-primary p-2" href="">Create  New To Do Item</a>
</div>
